#style {
  background-image: url('http://digitalspyuk.cdnds.net/16/29/768x563/gallery-1468964850-maxresdefault-2.jpg');
  height: 700px;
}

h1 {
  color: blue;
  font-size: 50px;
  text-align: center;
border-style: dashed;
padding-top: 50px;
padding-bottom: 50px;

}


#table {
  color: blue;
  background-color: lightblue;
  border: 1px solid black;
  width: 27%;
  margin: 0 auto;
  text-align: center;

}

th {
  color: yellow;
  padding: 20px 40px;
  padding-left: 10px;
}
td:hover {
  background-color: yellow;
  padding-left: 4px;
}
